@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
body{
    padding: 0;
    margin: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(44, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fascinate', cursive;

}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    height: 500px;
    
    
}

.boton > button{
  background-color: #e42727;
  border: none;
  color: white;
  padding: 15px 32px;
  font-family: 'Fascinate', cursive;
  margin: 1rem;
  cursor: pointer;
  border-radius: 12px;
}
.grid{
    /* width: 50%; */
    height: auto;
    background: rgb(44, 42, 42);
    border: 1px solid rgb(255, 255, 255);
}